<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  TODO:change to user data point so darkmode preference is maintained. -->
    <link id="mode" rel="stylesheet" href="/styles/SiteWideStyles/LightMode.css">
    <title>Collections Page</title>
</head>
<body>
	<header>Collections</header>
	<!-- th:each collection in collections where user == user, paginated 10 per page. -->
	<table>
		<thead>
            <tr>
                <th>Collection Name</th>
                <th>Item Type</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "itemCollection : ${itemCollections}">
                <td th:text = "${itemCollection.name}"></td>
                <td th:text = "${itemCollection.itemType.name}"></td>
            </tr>
        </tbody>
	</table>
</body>
</html>