<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  TODO:change to user data point so darkmode preference is maintained. -->
    <link id="mode" rel="stylesheet" href="/styles/SiteWideStyles/LightMode.css">
    <title>Collections Page</title>
</head>
<body>
	<header>Collections</header>
	<div th:if="${!pages.isEmpty()}" th:each="pageNumber:${pages}"><a th:href=@{/collections(page=${pageNumber})}></a></div>
	<table>
		<thead>
            <tr>
                <th>Collection Name</th>
                <th>Item Type</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "collection : ${collections}">
                <td th:text = "${collection.name}"></td>
                <td th:text = "${collection.itemType.name}"></td>
            </tr>
        </tbody>
	</table>
	
	<form method="put" th:action="@{/collections}">
		<div class="formbody">
			<label for="name">Name:</label> 
			<input type="text" 
					th:feild = "*{name}"
					placeholder = "Enter collection name"
					><br>
			<label for="ItemType">Type:</label> 
			<select th:feild="*{ItemType}">
				<option th:each = "type:${types}" th:value = "${type.name}" th:text="${type.name}"></option>
			</select>
			<button id="submit">Add Collection</button>
		</div>
	</form>
	
</body>
</html>