<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--      TODO:change to user data point so darkmode preference is maintained. -->
<link id="mode" rel="stylesheet"
	href="/styles/CenterStyle.css">
<title>Error page</title>
</head>
<body>
	<div class="navbar">
		<ul>
			<li><a href="/">I am not a hacker</a></li>
		</ul>
	</div>
	<p class="flex-and-center-column">Uh-Oh! looks like something went wrong, or maybe you were trying to hack my site(please don't).
	</p>
</body>