<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--      TODO:change to user data point so darkmode preference is maintained. -->
<link id="mode" rel="stylesheet"
	href="/styles/SiteWideStyles/LightMode.css">
<link rel="stylesheet" href="/styles/loginStyle.css">
<title>Login Page</title>
</head>
<body>
	<!-- TODO: Modify to Thymeleaf form -->
	<div th:if="${param.error}">
         <p id="loginError" style="color:red">Invalid Email or Password</p>
    </div>
	<div th:if="${param.logout}">
		<div class="logout_success">You have been logged out.</div>
	</div>
	<header>Login</header>
	<form method="post" th:action="@{/login}">
		<div class="formbody">
			<label for="username">UserName:</label> 
			<input type="text" 
					id="username"
					name="username"
					placeholder = "Enter email"
					><br>
			<text id="responsetext" style="color:red"></text>
			<label for="password">Password:</label> 
			<input type="password"
                  id="password"
                  name="password"
                  placeholder="Enter password"><br>
			<button id="submit">Login</button>
		</div>
	</form>
	<button id="darkmode">Darkmode</button>
	<span> Not registered ? <a th:href="@{/register}">Register/Signup
			here</a>
	</span>
</body>
<script src="/scripts/login.js"></script>
<script src="/scripts/darkmode.js"></script>
</html>