<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  TODO:change to user data point so darkmode preference is maintained. -->
    <link id="mode" rel="stylesheet" href="/styles/SiteWideStyles/LightMode.css">
    <title>Collections Page</title>
</head>
<body>
	<header>Collections</header>
	<!-- th:each item in collectedItems where user == user and collectionID == id, paginated 10 per page. -->
	<table>
		<tr>
			<th>name</th><th>item-type</th>
		</tr>
		<tr>
		<td></td><td></td>
		</tr>
	</table>
</body>
</html>